# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [8]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
from math import sqrt

In [9]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.head(50)

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,Mega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
13,Caterpie,Bug,NaN,45,30,35,20,20,45,1,False
14,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
15,Butterfree,Bug,Flying,60,45,50,90,80,70,1,False
16,Weedle,Bug,Poison,40,35,30,20,20,50,1,False
17,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
18,Beedrill,Bug,Poison,65,90,40,45,80,75,1,False
19,Mega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
20,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,Mega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
24,Rattata,Normal,NaN,30,56,35,25,35,72,1,False
25,Raticate,Normal,NaN,55,81,60,50,70,97,1,False
26,Spearow,Normal,Flying,40,60,30,31,31,70,1,False
27,Fearow,Normal,Flying,65,90,65,61,61,100,1,False
28,Ekans,Poison,NaN,35,60,44,40,54,55,1,False
29,Arbok,Poison,NaN,60,85,69,65,79,80,1,False
30,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
31,Raichu,Electric,NaN,60,90,55,90,80,110,1,False
32,Sandshrew,Ground,NaN,50,75,85,20,30,40,1,False
33,Sandslash,Ground,NaN,75,100,110,45,55,65,1,False
34,Nidoran♀,Poison,NaN,55,47,52,40,40,41,1,False
35,Nidorina,Poison,NaN,70,62,67,55,55,56,1,False
36,Nidoqueen,Poison,Ground,90,92,87,75,85,76,1,False
37,Nidoran♂,Poison,NaN,46,57,40,40,40,50,1,False
38,Nidorino,Poison,NaN,61,72,57,55,55,65,1,False
39,Nidoking,Poison,Ground,81,102,77,85,75,85,1,False
40,Clefairy,Fairy,NaN,70,45,48,60,65,35,1,False
41,Clefable,Fairy,NaN,95,70,73,95,90,60,1,False
42,Vulpix,Fire,NaN,38,41,40,50,65,65,1,False
43,Ninetales,Fire,NaN,73,76,75,81,100,100,1,False
44,Jigglypuff,Normal,Fairy,115,45,20,45,25,20,1,False
45,Wigglytuff,Normal,Fairy,140,70,45,85,50,45,1,False
46,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
47,Golbat,Poison,Flying,75,80,70,65,75,90,1,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
49,Gloom,Grass,Poison,60,65,70,85,75,40,1,False

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [11]:
#code here
#H0 : Pokemon of type Dragon have on average <= HP than Pokemon of type Grass
#H1 : Pokemon of type Dragon have on average > HP than Pokemon of type Grass

alpha = 0.05

In [12]:
df["Type 1"].value_counts()

Type 1
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: count, dtype: int64

In [13]:
df["Type 2"].value_counts()

Type 2
Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: count, dtype: int64

In [14]:
dragon_df = df[(df["Type 1"] == "Dragon") | (df["Type 2"] == "Dragon")]
dragon_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
7,Mega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
159,Dratini,Dragon,NaN,41,64,45,50,50,50,1,False
160,Dragonair,Dragon,NaN,61,84,65,70,70,70,1,False
161,Dragonite,Dragon,Flying,91,134,95,100,100,80,1,False
196,Mega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False
249,Kingdra,Water,Dragon,75,95,95,95,95,85,2,False
275,Mega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
360,Vibrava,Ground,Dragon,50,70,50,50,50,70,3,False
361,Flygon,Ground,Dragon,80,100,80,80,80,100,3,False
365,Altaria,Dragon,Flying,75,70,90,70,105,80,3,False
366,Mega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
406,Bagon,Dragon,NaN,45,75,60,40,30,50,3,False
407,Shelgon,Dragon,NaN,65,95,100,60,50,50,3,False
408,Salamence,Dragon,Flying,95,135,80,110,80,100,3,False
409,Mega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
417,Latias,Dragon,Psychic,80,80,90,110,130,110,3,True
418,Mega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
419,Latios,Dragon,Psychic,80,90,80,130,110,110,3,True
420,Mega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
425,Rayquaza,Dragon,Flying,105,150,90,150,90,95,3,True
426,Mega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
491,Gible,Dragon,Ground,58,70,45,40,45,42,4,False
492,Gabite,Dragon,Ground,68,90,65,50,55,82,4,False
493,Garchomp,Dragon,Ground,108,130,95,80,85,102,4,False
494,Mega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
540,Dialga,Steel,Dragon,100,120,120,150,100,90,4,True
541,Palkia,Water,Dragon,90,120,100,150,120,100,4,True
544,Giratina Altered Forme,Ghost,Dragon,150,100,120,100,120,90,4,True
545,Giratina Origin Forme,Ghost,Dragon,150,120,100,120,100,90,4,True
671,Axew,Dragon,NaN,46,87,60,30,40,57,5,False
672,Fraxure,Dragon,NaN,66,117,70,40,50,67,5,False
673,Haxorus,Dragon,NaN,76,147,90,60,70,97,5,False
682,Druddigon,Dragon,NaN,77,120,90,60,90,48,5,False
694,Deino,Dark,Dragon,52,65,50,45,50,38,5,False
695,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
696,Hydreigon,Dark,Dragon,92,105,90,125,90,98,5,False
706,Reshiram,Dragon,Fire,100,120,100,150,120,90,5,True
707,Zekrom,Dragon,Electric,100,150,120,120,100,90,5,True
710,Kyurem,Dragon,Ice,125,130,90,130,90,95,5,True
711,Kyurem Black Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True
712,Kyurem White Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True
761,Dragalge,Poison,Dragon,65,75,90,97,123,44,6,False
766,Tyrunt,Rock,Dragon,58,89,77,45,45,48,6,False
767,Tyrantrum,Rock,Dragon,82,121,119,69,59,71,6,False
774,Goomy,Dragon,NaN,45,50,35,55,75,40,6,False
775,Sliggoo,Dragon,NaN,68,75,53,83,113,60,6,False
776,Goodra,Dragon,NaN,90,100,70,110,150,80,6,False
790,Noibat,Flying,Dragon,40,30,35,45,40,55,6,False
791,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
794,Zygarde Half Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [15]:
dragon_grass = dragon_df[(dragon_df["Type 1"] == "Grass") | (dragon_df["Type 2"] == "Grass")]
dragon_grass

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
275,Mega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False

In [16]:
grass_df = df[(df["Type 1"] == "Grass") | (df["Type 2"] == "Grass")]
grass_df

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...
783,Pumpkaboo Super Size,Ghost,Grass,59,66,70,44,55,41,6,False
784,Gourgeist Average Size,Ghost,Grass,65,90,122,58,75,84,6,False
785,Gourgeist Small Size,Ghost,Grass,55,85,122,58,75,99,6,False
786,Gourgeist Large Size,Ghost,Grass,75,95,122,58,75,69,6,False
787,Gourgeist Super Size,Ghost,Grass,85,100,122,58,75,54,6,False

In [17]:
grass_dragon = grass_df[(grass_df["Type 1"] == "Dragon") | (grass_df["Type 2"] == "Dragon")]
grass_dragon

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
275,Mega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False

In [18]:
#code here
#H0 : Pokemon of type Dragon have on average <= HP than Pokemon of type Grass
#H1 : Pokemon of type Dragon have on average > HP than Pokemon of type Grass

alpha = 0.05

In [19]:
dragon_df_hp = dragon_df["HP"]

In [20]:
grass_df_hp = grass_df["HP"]

In [21]:
dragon_df_hp.mean()

82.9

In [22]:
grass_df_hp.mean()

66.05263157894737

In [23]:
st.ttest_ind(dragon_df_hp, grass_df_hp, equal_var=False, alternative = "greater")

TtestResult(statistic=4.097528915272702, pvalue=5.0907690611769255e-05, df=77.58086781513519)

We reject the null-Hypothesis that Pokemon of Type Draon have less or equal as much HP as Pokemon of Type Grass!

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.


H0 : Legendary Pokemon have the same stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) as non-legendary Pokemon
H1 : Legendary Pokemon have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) than non-legendary Pokemon

In [27]:
alpha = 0.05

In [28]:
stats = ["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]

In [29]:
legendary_df = df[df["Legendary"] == True]
non_legendary_df = df[df["Legendary"] == False]

In [30]:
legendary_df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,92.738462,116.676923,99.661538,122.184615,105.938462,100.184615,3.769231
std,21.722164,30.348037,28.255131,31.104608,28.827004,22.952323,1.455262
min,50.000000,50.000000,20.000000,50.000000,20.000000,50.000000,1.000000
25%,80.000000,100.000000,90.000000,100.000000,90.000000,90.000000,3.000000
50%,91.000000,110.000000,100.000000,120.000000,100.000000,100.000000,4.000000
75%,105.000000,131.000000,115.000000,150.000000,120.000000,110.000000,5.000000
max,150.000000,190.000000,200.000000,194.000000,200.000000,180.000000,6.000000

In [31]:
non_legendary_df.describe()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000,735.000000
mean,67.182313,75.669388,71.559184,68.454422,68.892517,65.455782,3.284354
std,24.808849,30.490153,30.408194,29.091705,25.669310,27.843038,1.673471
min,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000
25%,50.000000,54.500000,50.000000,45.000000,50.000000,45.000000,2.000000
50%,65.000000,72.000000,66.000000,65.000000,65.000000,64.000000,3.000000
75%,79.500000,95.000000,85.000000,85.000000,85.000000,85.000000,5.000000
max,255.000000,185.000000,230.000000,175.000000,230.000000,160.000000,6.000000

In [32]:

# List of stat columns to analyze
stats = ["HP","Attack","Defense","Sp. Atk","Sp. Def","Speed"]

# Perform t-test for each stat
t_test_results = {}
for stat in stats:
    t_stat, p_value = st.ttest_ind(legendary_df[stat], non_legendary_df[stat])
    t_test_results[stat] = p_value

# Output p-values for each stat
print(t_test_results)

{'HP': 3.3306476848461913e-15, 'Attack': 7.827253003205333e-24, 'Defense': 1.5842226094427255e-12, 'Sp. Atk': 6.314915770427265e-41, 'Sp. Def': 1.8439809580409597e-26, 'Speed': 2.3540754436898437e-21}

Since each p-value for every stat comparing legendary to non-legendary is lower than our alpha, we can reject the null-hypothesis!

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [36]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [38]:
def calculate_distance (df):
    """
    A(lon1,lat1)
    B(lon2,lat2)
    d(A,B) = sqr((lon2-lon1)**2+(lat2-lat1)**2)
    
    cast a new column with euc distance
    """
    S_coord = (-118, 37)
    H_coord = (-122, 34)

    df["school_dist"] = 0.0
    df["hospital_dist"] = 0.0
    
    for index, row in df.iterrows():
        d_s = sqrt((row["longitude"]-S_coord[0])**2+(row["latitude"]-S_coord[1])**2)
        d_h = sqrt((row["longitude"]-H_coord[0])**2+(row["latitude"]-H_coord[1])**2)
        
        df.at[index, "school_dist"] = float(d_s)  # Ensure it's a float
        df.at[index, "hospital_dist"] = float(d_h)  # Ensure it's a float
    return df

In [39]:
print(df.columns)

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')

In [40]:
df2 = calculate_distance(df)
df2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,school_dist,hospital_dist
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.801510,7.438716
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.850753,7.442432
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,7.211380,6.957298
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,7.275232,7.064630
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,7.944533,8.170410
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,7.920227,8.132035
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,7.270083,6.949396

In [41]:
lon1 =-114.31
lat1 = 34.19	
lon2 = -118
lat2 = 37

In [42]:
d = sqrt((lon2-lon1)**2+(lat2-lat1)**2)
d

4.638124621007934

In [43]:
df2.sort_values("school_dist").head(50)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,school_dist,hospital_dist
6904,-118.31,36.94,35.0,2563.0,530.0,861.0,371.0,2.3250,80600.0,0.315753,4.718019
6776,-118.30,37.17,22.0,3480.0,673.0,1541.0,636.0,2.7500,94500.0,0.344819,4.872258
4523,-118.05,36.64,34.0,2090.0,478.0,896.0,426.0,2.0357,74200.0,0.363456,4.751010
5596,-118.18,37.35,16.0,3806.0,794.0,1501.0,714.0,2.1212,108300.0,0.393573,5.080837
5597,-118.18,36.63,23.0,2311.0,487.0,1019.0,384.0,2.2574,104700.0,0.411461,4.637812
7771,-118.39,37.37,25.0,3295.0,824.0,1477.0,770.0,1.8325,105800.0,0.537587,4.938522
7849,-118.40,37.36,34.0,2465.0,619.0,1172.0,575.0,1.9722,116100.0,0.538145,4.924388
8010,-118.42,37.35,21.0,3302.0,557.0,1413.0,520.0,4.3750,180400.0,0.546717,4.902948
8009,-118.42,37.36,18.0,2281.0,520.0,1425.0,465.0,1.7388,54400.0,0.553173,4.909786
8254,-118.45,37.37,26.0,3135.0,524.0,1385.0,523.0,4.3370,139700.0,0.582580,4.894834
8091,-118.43,37.40,19.0,2460.0,405.0,1225.0,425.0,4.1576,141500.0,0.587282,4.930000
8749,-118.60,37.39,19.0,2682.0,518.0,1134.0,399.0,3.2132,166000.0,0.715612,4.801260
8253,-118.45,37.70,15.0,2199.0,453.0,899.0,347.0,2.3500,107800.0,0.832166,5.127621
7577,-118.37,36.19,10.0,443.0,111.0,48.0,21.0,3.1250,71300.0,0.890505,4.239458
2709,-117.69,36.13,25.0,1709.0,439.0,632.0,292.0,1.7868,45500.0,0.923580,4.807598
8962,-118.91,36.79,19.0,1616.0,324.0,187.0,80.0,3.7857,78600.0,0.933916,4.163196
8852,-118.74,37.58,20.0,3301.0,779.0,1085.0,448.0,3.7315,159300.0,0.940213,4.841900
8990,-118.94,37.13,12.0,2255.0,472.0,1006.0,334.0,4.1563,94000.0,0.948947,4.377271
9020,-118.96,36.66,18.0,1302.0,424.0,320.0,133.0,3.1964,80000.0,1.018430,4.039455
8923,-118.86,36.41,20.0,2749.0,575.0,1195.0,491.0,3.0391,139700.0,1.042929,3.958245
9021,-118.96,36.49,24.0,1268.0,269.0,636.0,183.0,1.7420,118800.0,1.087060,3.929593
568,-117.02,36.40,19.0,619.0,239.0,490.0,164.0,2.1000,14999.0,1.149087,5.528146
9019,-118.96,37.64,11.0,3934.0,697.0,901.0,345.0,4.2381,242700.0,1.153776,4.742489
8991,-118.94,36.32,10.0,2271.0,398.0,986.0,358.0,4.0703,147100.0,1.160172,3.840052
9034,-118.97,37.64,14.0,2284.0,622.0,342.0,137.0,3.0921,87500.0,1.162110,4.736085
9035,-118.97,37.64,14.0,1847.0,439.0,238.0,98.0,3.6042,137500.0,1.162110,4.736085
9276,-119.12,36.69,13.0,3963.0,812.0,1905.0,671.0,2.2278,90500.0,1.162110,3.940876
9050,-118.98,37.64,17.0,3769.0,908.0,1160.0,453.0,3.0500,188900.0,1.170470,4.729693
9069,-118.99,37.63,10.0,7744.0,1573.0,483.0,224.0,3.2917,231800.0,1.173456,4.715612
9049,-118.98,37.65,18.0,1795.0,416.0,483.0,208.0,4.5375,169800.0,1.175968,4.737394
9068,-118.99,37.65,20.0,2474.0,625.0,338.0,141.0,5.0100,195500.0,1.184314,4.731025
8891,-118.82,36.13,43.0,1281.0,287.0,534.0,231.0,2.8906,65700.0,1.195533,3.827440
9277,-119.12,36.54,30.0,2747.0,515.0,1368.0,453.0,2.9828,85200.0,1.210785,3.840052
8848,-118.73,36.01,14.0,3263.0,651.0,1910.0,594.0,2.8603,128900.0,1.230041,3.838359
8981,-118.93,36.19,30.0,2685.0,546.0,951.0,523.0,2.6184,113900.0,1.233288,3.771074
9250,-119.09,36.42,17.0,877.0,219.0,966.0,218.0,2.0000,52500.0,1.234706,3.784772
9251,-119.09,36.42,15.0,1517.0,361.0,1275.0,343.0,1.5875,55800.0,1.234706,3.784772
9387,-119.21,37.25,44.0,3042.0,697.0,335.0,115.0,4.1838,85600.0,1.235557,4.283293
9261,-119.10,36.42,26.0,1775.0,416.0,1217.0,383.0,1.8801,57600.0,1.243543,3.777089
9262,-119.10,36.40,31.0,1533.0,361.0,1518.0,386.0,1.5608,51700.0,1.252996,3.764306
9263,-119.10,36.40,23.0,1885.0,363.0,1056.0,338.0,3.2159,92800.0,1.252996,3.764306
9428,-119.24,36.80,17.0,2052.0,405.0,975.0,340.0,2.6902,94400.0,1.256025,3.931615
9252,-119.09,36.35,21.0,3146.0,595.0,1580.0,513.0,2.7857,92700.0,1.269094,3.740401
3282,-117.87,35.73,13.0,2566.0,449.0,1181.0,414.0,4.1518,91800.0,1.276636,4.477700
9481,-119.28,37.11,34.0,1901.0,394.0,171.0,73.0,3.0729,144600.0,1.284718,4.131646
6905,-118.31,35.74,18.0,2327.0,642.0,799.0,335.0,1.8419,92300.0,1.297575,4.079669
2834,-117.73,35.73,35.0,2916.0,594.0,1870.0,432.0,3.6250,55000.0,1.298384,4.607147
9270,-119.11,36.29,18.0,1666.0,294.0,859.0,301.0,2.6065,93800.0,1.317649,3.687303
9451,-119.26,36.61,33.0,560.0,90.0,310.0,113.0,2.5417,118800.0,1.318977,3.784138
9539,-119.32,37.06,15.0,3111.0,651.0,276.0,107.0,5.1314,179200.0,1.321363,4.067677

In [44]:
df2.sort_values("hospital_dist")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,school_dist,hospital_dist
10692,-120.59,34.70,29.0,17738.0,3114.0,12427.0,2826.0,2.7377,28300.0,3.463827,1.574198
10633,-120.48,34.65,26.0,1933.0,316.0,1001.0,319.0,4.4628,134400.0,3.416563,1.653149
10619,-120.47,34.63,23.0,2441.0,463.0,1392.0,434.0,3.7917,142200.0,3.423127,1.654630
10632,-120.48,34.66,4.0,1897.0,331.0,915.0,336.0,4.1563,172600.0,3.409692,1.657106
10617,-120.47,34.64,8.0,2482.0,586.0,1427.0,540.0,3.0710,120400.0,3.416211,1.658463
...,...,...,...,...,...,...,...,...,...,...,...
16883,-123.83,41.88,18.0,1504.0,357.0,660.0,258.0,3.1300,116700.0,7.602848,8.089703
16949,-124.15,41.81,17.0,3276.0,628.0,3546.0,585.0,2.2868,103100.0,7.807599,8.100531
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,7.920227,8.132035
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,7.944533,8.170410
16939,-124.14,41.95,21.0,2696.0,578.0,1208.0,494.0,2.2750,122400.0,7.886831,8.232989

In [45]:
School coordinates (-118, 37)
Hospital coordinates (-122, 34)

SyntaxError: invalid syntax (2305070994.py, line 1)

In [46]:
df_close = df2[(df2["school_dist"]<0.5)|(df2["hospital_dist"]<0.5)]
df_close

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,school_dist,hospital_dist
4523,-118.05,36.64,34.0,2090.0,478.0,896.0,426.0,2.0357,74200.0,0.363456,4.751010
5596,-118.18,37.35,16.0,3806.0,794.0,1501.0,714.0,2.1212,108300.0,0.393573,5.080837
5597,-118.18,36.63,23.0,2311.0,487.0,1019.0,384.0,2.2574,104700.0,0.411461,4.637812
6776,-118.30,37.17,22.0,3480.0,673.0,1541.0,636.0,2.7500,94500.0,0.344819,4.872258
6904,-118.31,36.94,35.0,2563.0,530.0,861.0,371.0,2.3250,80600.0,0.315753,4.718019

In [48]:
df_far = df2[(df2["school_dist"]>0.5)|(df2["hospital_dist"]>0.5)]
df_far

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,school_dist,hospital_dist
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,4.638125,7.692347
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,4.384165,7.540617
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,4.773856,7.446456
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,4.801510,7.438716
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,4.850753,7.442432
...,...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0,7.211380,6.957298
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0,7.275232,7.064630
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0,7.944533,8.170410
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0,7.920227,8.132035
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0,7.270083,6.949396

In [52]:
df_close["median_house_value"].describe()

count         5.000000
mean      92460.000000
std       14823.730974
min       74200.000000
25%       80600.000000
50%       94500.000000
75%      104700.000000
max      108300.000000
Name: median_house_value, dtype: float64

In [54]:
df_far["median_house_value"].describe()

count     17000.000000
mean     207300.912353
std      115983.764387
min       14999.000000
25%      119400.000000
50%      180400.000000
75%      265000.000000
max      500001.000000
Name: median_house_value, dtype: float64

H0: Houses closer to a school or hospital are as expensive or cheaper than houses farther away.
H1: Houses closer to a school or hospital are more expensive than houses farther away.

alpha = 0.05

In [57]:
alpha = 0.05

In [63]:


t_stat, p_value = st.ttest_ind(df_close['median_house_value'], df_far['median_house_value'], equal_var=False, alternative = "greater" )

t_stat, p_value

(-17.169161722319306, 0.9999738667251178)

The t-test shows a p-value of 0.9999738667251178, meaning that we cannot reject the null hypothesis! Comparing the average median house prices of the far away and close houses actually shows the opposite, with farther away houses being on average more expensive. Furthermore, there were only 5 houses fitting the posited criterion for closeness and such a small sample size will result in a reduced power of our test and will contain a greater variability making it hard to infer robust conclusions about house prizes and their dependence on the distance to either a school or a hospital.